div {
    border: 2px solid blue;
    width: 500px;
    height: 200px;
    background-color: cadetblue;
}
 input{
    width: 100px;
    height: 5px;
    border: 1px sold blue;
}
div, lable, input{
    text-align: center;
    padding: 10px 20px
}
